<div class="page-container">
   <header class="app-header">
    <img class="logo" src="/assets/logo_p6.png" alt="logo" />
  </header>


  <main class="form-container">
    <button mat-icon-button class="back-button" routerLink="/">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <!-- This logo will only be shown on mobile -->
    <img class="mobile-logo" src="/assets/logo_p6.png" alt="logo" />
    
    <h1>Login form</h1>

    <form class="login-form">
      <div class="form-field">
        <label>E-mail or Username</label>
        <input type="text" class="form-input" />
      </div>

      <div class="form-field">
        <label>Password</label>
        <input type="password" class="form-input" />
      </div>

      <button type="submit" class="submit-button">
        Login
      </button>
    </form>
  </main>
</div>
