<div class="page-container">
  <app-navbar></app-navbar>

  <main class="themes-container">
    <div class="themes-grid">
      <!-- Loop through each theme and create a card -->
      <div *ngFor="let theme of allThemes" class="theme-card">
        <h2>{{ theme.title }}</h2>
        <p>{{ theme.description }}</p>

        <!-- Conditionally display the 'Subscribe' or 'Subscribed' button -->
        <ng-container *ngIf="!isSubscribed(theme.id)">
          <button
            mat-flat-button
            color="primary"
            (click)="subscribeToTheme(theme.id)"
          >
            Subscribe
          </button>
        </ng-container>
        <ng-container *ngIf="isSubscribed(theme.id)">
          <button mat-flat-button disabled>Subscribed</button>
        </ng-container>
      </div>
    </div>
  </main>
</div>
